.navbar {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 30px;
}

.logo {
  font-weight: 600;
  letter-spacing: 1px;
}

.logout-btn {
  background: transparent;
  border: 1px solid #fff;
  color: white;
  padding: 6px 14px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background: white;
  color: black;
}
