<div class="auth-container">

  <h2 class="login-title">REGISTER USER</h2>

  <div class="login-box">

    <form [formGroup]="form" (ngSubmit)="signup()">

      <div class="input-group">
        <i>👤</i>
        <input type="email" placeholder="Email ID" formControlName="email">
      </div>

      <div class="input-group">
        <i>🔒</i>
        <input type="password" placeholder="Password" formControlName="password">
      </div>

      <button class="login-btn" type="submit">SIGN UP</button>

    </form>

  </div>

  <button class="register-btn" routerLink="/login">LOGIN</button>

</div>