.task-card {
  background: white;
  padding: 14px;
  border-radius: 4px;
  margin-bottom: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

.task-card h4 {
  margin: 0;
  font-size: 14px;
}

.project {
  font-size: 12px;
  color: #555;
}

.date {
  font-size: 12px;
  color: #d9534f;
}
