<div class="overlay">
  <div class="form-container">
    <h3>{{isEditMode ? 'Edit Task' : 'Create New Task'}}</h3>

    <form [formGroup]="taskForm" (ngSubmit)="submit()">
      <input type="text" placeholder="Task Title" formControlName="title">
      <input type="text" placeholder="Project Name" formControlName="project">
      <input type="date" formControlName="date">

      <div class="buttons">
        <button type="button" class="cancel" (click)="closeForm()">Cancel</button>
        <button type="submit" class="save"> {{isEditMode ? 'Update' : 'Save'}}</button>
      </div>
    </form>
  </div>
</div>